<app-ctr-record-table [eblID]="eblID$ | async"
                      [ctrRecords]="(ctrRecords$ | async) ?? []"
                      [loading]="!ctrLoadingError && !(ctrRecords$ | async)"
                      [ctrLoadingError]="ctrLoadingError">
</app-ctr-record-table>


<ng-container *ngIf="ctrRecords$ | async as ctrRecords">
  <ng-container *ngIf="ctrRecords && ctrRecords.length > 0">
    <ng-container *ngIf="ctrRecords[ctrRecords.length - 1] as lastRecord">
      <h2>Append record</h2>
      <app-create-ctr-record [eblID]="lastRecord.parsedPlatformRecord.eblID"
                             [previousRecord]="lastRecord.recordID"
                             [ctrRecords]="ctrRecords"
                             (created)="refresh()">
      </app-create-ctr-record>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!ctrRecords || ctrRecords.length == 0">
    <ng-container *ngIf="eblID$ | async as eblID">
      <ng-container *ngIf="eblIDHasValidForm(eblID)">
        <h2>Create first record for this eBL</h2>
        <app-create-ctr-record [eblID]="eblID"
                               (created)="refresh()">
        </app-create-ctr-record>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>


<p-toast key="GenericSuccessToast" position="bottom-right"></p-toast>
<p-toast key="GenericErrorToast" position="bottom-right"></p-toast>

<p-confirmDialog [transitionOptions]="'0ms'">
</p-confirmDialog>
