<div class="grid">
  <div class="col-6">
    <p-card [style]='{ borderRadius: "25px", height: "100%" }'>
      <div class="row">
        <div class="col-6 font-bold">Send eBL</div>

        <div class="col-6 align-content-end justify-content-end">
          <button label="Show EBL"
                  (click)="eblVisible = true"
                  pButton
                  appDebounceClick
                  icon="pi pi-book"
                  class="p-button-secondary">
          </button>
        </div>
      </div>

      <br>

      <div class="grid justify-content-evenly">
          <p-dropdown [(ngModel)]="platformState.receiver"
                      #receiverModel="ngModel"
                      id="receiver"
                      name="receiver"
                      placeholder="Receiver"
                      [style]="{'width':'80% !important','min-width':'80% !important', overflow: 'visible'}"
                      [ngModelOptions]="{standalone: true}"
                      [filter]="true"
                      [showClear]="true"
                      [required]="true"
                      [disabled]="platformState.transferStarted"
                      [options]="selectableUsers">
            <ng-template pTemplate="item" let-item>
              {{item.name}} ({{item.platform}})
            </ng-template>
            <ng-template pTemplate="selectedItem" let-item>
              {{item.name}} ({{item.platform}})
            </ng-template>
          </p-dropdown>
      </div>
      <br>
      <div *ngIf="!platformState.transferStarted" class="flex justify-content-evenly">
        <button label="Transfer"
                pButton
                appDebounceClick
                [style]="{width: '80%'}"
                [class.p-button-rounded]="platformState.transferStarted"
                [disabled]="!receiverModel.valid"
                [loading]="platformState.transferStarted"
                (debounceClick)="initiateTransfer()"
                icon="pi pi-send">
        </button>
      </div>
      <div *ngIf="platformState.transferStarted" class="grid">
        <div class="row">
          <button pButton
                  [class.p-button-rounded]="platformState.transferStarted"
                  [loading]="true"
                  icon="pi pi-spinner">
          </button>
          <span>Transfer in progress</span>
        </div>
        <div class="row">
          <p-progressBar [value]="50"></p-progressBar>
        </div>
      </div>

    </p-card>
  </div>

  <div class="col-6">
    <ng-template #noTransfer>
      <p-card [style]='{ borderRadius: "25px", height: "100%" }'>
        <h1 class="text-center">No incoming eBL</h1>
        <div class="flex justify-content-center">
          <button label="Show EBL"
                  (click)="eblVisible = true"
                  [disabled]="true"
                  pButton
                  appDebounceClick
                  icon="pi pi-book"
                  class="p-button-secondary">
          </button>
        </div>
        <br>
        <div class="flex justify-content-center">
          <button label="Accept"
                  pButton
                  appDebounceClick
                  class="accept-button"
                  [disabled]="true"
                  (debounceClick)="acceptTransfer()"
                  icon="pi pi-check">
          </button>

          <button label="Reject"
                  pButton
                  appDebounceClick
                  class="reject-button"
                  [disabled]="true"
                  (debounceClick)="rejectRecord()"
                  icon="pi pi-times">
          </button>

          <button label="Dispute"
                  pButton
                  appDebounceClick
                  class="dispute-button"
                  [disabled]="true"
                  (debounceClick)="disputeRecord()"
                  icon="pi pi-exclamation-triangle">
          </button>
        </div>
      </p-card>
    </ng-template>
    <p-card *ngIf="incomingTransfer as transfer; else noTransfer" [style]='{ borderRadius: "25px", height: "100%" }'>
      <h1 class="text-center">Receiving eBL from {{transfer.fromPlatform.platform}}</h1>
      <div class="flex justify-content-center">
        <button label="Show EBL"
                (click)="eblVisible = true"
                pButton
                appDebounceClick
                icon="pi pi-book"
                class="p-button-secondary">
        </button>
      </div>
      <br>
      <div class="flex justify-content-center">
        <button label="Accept"
                pButton
                appDebounceClick
                class="accept-button"
                (debounceClick)="acceptTransfer()"
                icon="pi pi-check">
        </button>

        <button label="Reject"
                pButton
                appDebounceClick
                class="reject-button"
                (debounceClick)="rejectRecord()"
                icon="pi pi-times">
        </button>

        <button label="Dispute"
                pButton
                appDebounceClick
                class="dispute-button"
                (debounceClick)="disputeRecord()"
                icon="pi pi-exclamation-triangle">
        </button>
      </div>
    </p-card>
  </div>
</div>

<p-dialog header="Sample rendering of EBL" [modal]="true" [(visible)]="eblVisible" [style]="{ width: '80%' }">
  <app-render-dcsa-ebl [ebl]="ebl">
  </app-render-dcsa-ebl>
</p-dialog>

<p-toast key="GenericSuccessToast" position="bottom-right"></p-toast>
<p-toast key="GenericErrorToast" position="bottom-right"></p-toast>
