<div class="grid header">
  <div class="col-1">
    <img class="header__logo" alt="DCSA Logo" src="assets/DCSA_logo_color_on_dark_background.png">
  </div>
  <div class="col-6">&nbsp;</div>
  <div class="col-5 header__menuLabel header__company_container">
    <div class="flex justify-content-end gap-2">
      <span class="header__company">Current Platform</span>
      <p-dropdown [(ngModel)]="platform"
                  (ngModelChange)="switchPlatform($event)"
                  id="platform"
                  name="platform"
                  placeholder="Platform"
                  [ngModelOptions]="{standalone: true}"
                  [filter]="true"
                  [showClear]="false"
                  [required]="true"
                  optionLabel="platform"
                  class="dropdown-50p-width"
                  [style]="{minWidth:'100%'}"
                  [options]="platforms">
      </p-dropdown>
    </div>
  </div>
</div>
