<div class="row">
  <label *ngIf="!inputType || !allowEBLInput" for="eblID">EBL ID: </label>
  <label *ngIf="inputType && allowEBLInput" for="ebl">EBL</label>
  <input id="eblID"
         name="eblID"
         pInputText
         pattern="^[0-9a-f]+$"
         minlength="64"
         maxlength="64"
         [disabled]="disabled"
         [required]="true"
         [ngModelOptions]="{standalone: true}"
         [(ngModel)]="eblID"
         (ngModelChange)="valueChanged()"
         type="text">

  <p-button *ngIf="allowEBLInput" (click)="eblDialogVisible = true" label="From EBL" />
</div>

<p-dialog header="Input EBL" [modal]="true" [(visible)]="eblDialogVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Paste in the DCSA eBL here</span>
  <div class="flex align-items-center gap-3 mb-3">
    <textarea
      id="ebl"
      name="ebl"
      rows="5"
      cols="30"
      pInputTextarea
      [ngModelOptions]="{standalone: true}"
      [required]="true"
      [disabled]="disabled"
      [class.ng-invalid]="eblBroken"
      [(ngModel)]="ebl"
      (ngModelChange)="checksumEbl()">
    </textarea>
  </div>
  <input pInputText
         pattern="^[0-9a-f]+$"
         minlength="64"
         maxlength="64"
         [disabled]="true"
         [required]="false"
         [ngModelOptions]="{standalone: true}"
         [ngModel]="providedEBLID || 'Invalid eBL'"
         type="text">
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="eblDialogVisible = false" />
    <p-button label="Accept" [disabled]="eblBroken || !providedEBLID" (click)="confirmEBL()" />
  </div>
</p-dialog>
