<app-demo-header [platforms]="platforms"
                 [(platform)]="currentPlatform">
</app-demo-header>

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <span class="font-bold text-center">PINT</span>
    </div>
  </ng-template>
  <app-dcsa-week-demo-platform [platformState]="currentPlatform"
                               [platforms]="platforms"
                               [ebl]="ebl()"
                               [eblChecksum]="eblChecksum()"
                               (ctrRecordCreated)="newCtrRecord($event)"
                               [ctrRecords]="ctrRecords"
                               [ctrRecordTable]="ctrRecordTable">
  </app-dcsa-week-demo-platform>

</p-panel>
<p-panel>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <span class="font-bold text-center">CTR</span>
    </div>
  </ng-template>
  <app-ctr-record-table [ctrRecords]="ctrRecords"
                        [dcsaDemo]="!exportMode">
  </app-ctr-record-table>

  <br>
  <div class="grid">
    <label for="switch">Show all fields</label><span>&nbsp;</span>
    <p-inputSwitch id="switch" [(ngModel)]="exportMode">
    </p-inputSwitch>
  </div>
</p-panel>
